<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="center">
      <img src="../../../assets/login.png" width="50%" class="loginImg">
      <h1>Iniciar Sesión</h1>
      <form [formGroup]="formLogueo">
        <div class="txt_field">
          <input type="text" required formControlName="usuario">
          <span></span>
          <label>Usuario</label>
        </div>
        <div class="txt_field">
          <input type="password" required formControlName="password">
          <span></span>
          <label>Contraseña</label>
        </div>
      </form>
      <div class="btn-container">
        <input type="submit" value="Ingresar" (click)="validarForm()">
      </div>
    </div>
  </body>
</html>
